@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

header{
    margin-top: 30px;
    display: flex;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 30px;
}
body{
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    background: url("https://landing.zytheme.com/siena/assets/images/background/bg-1.png");
    background-position: 0;
}
.container{
    padding: 0px 60px;
}
nav{
    flex: 1;
    display: flex;
    flex-direction: row-reverse;
}
nav ul {
    display: flex;
    padding: 0;
}
nav ul li{
    list-style: none;
    margin: 0px 20px;
}

nav ul li a{
    color: #6262A0;
    font-size: 1.1em;
    text-decoration: none;
}
nav ul li a:hover{
    color: #664FFA;
}

h1{
    color: #6262a0;
    font-size: 3em;
    font-weight: 400;
    margin: 40px 25px;
}
h2{
    color: #6262a0;
    font-size: 2em;
    font-weight: 400;
    text-align: center;
    margin: 100px 50px 10px 50px;
}
h4{
    color: #6262a0;
    font-size: 1.4em;
    font-weight: 400;
    text-align: center;
    display: block;
    padding: 20px 0px;
    margin: 0px;
}
p{
    color: #ababc7;
    font-size: 1.2em;
}
p span{
    font-size: 0.8em;
}
p.center {
    text-align: center;
}
.form-container{
    /*padding: 40px;*/
}
.field-form input{
    background-color: #f7f6ff;
    color: #222;
    border:  1px solid #999;
    border-radius: 4px;
    font-size: 1.05em;
    padding: 6px 6px 6px 12px;
    outline: none;
    width: 100%;
    margin-bottom: 6px;
}
.field-form label{
    color: #6262A0;
    font-size: 0.95em;
    margin: 10px 0px;
    display: block;
}
.btn-primary{
    width: 100%;
    background-color: #664FFA;
    border-radius: 6px;
    color: white;
    text-transform: uppercase;
    padding: 15px 10px;
    border: none;
    margin: 10px 0px;
    font-size: 0.9em;
    font-weight: 700;
    cursor: pointer;
}
.btn-primary:hover{
    background-color: #3b1df9;
}
#box-trial {
    flex: 35;
    background-color: #FFF;
    padding: 10px 40px;
    box-shadow: 3px 6px 8px 0px rgba(189,189,189,0.76);
    -webkit-box-shadow: 3px 6px 8px 0px rgba(189,189,189,0.76);
    -moz-box-shadow: 3px 6px 8px 0px rgba(189,189,189,0.76);
}
article{
    display: flex;
    margin-top: 80px;
}
.content-slide1{
    flex: 65;
    padding: 0 20px;
}
.cards-container{
    display: flex;
    margin: 100px 50px 50px 50px;
}
.cards{
    display: flex;
    flex-direction: column;
}
.image-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 30px;
}
.field-card h4{
    color: #6262A0;
    font-family: 400;
    margin: 10px 0px;
    display: block;
    text-align: center;
}
.field-card p{
    color: #ababc7;
    font-family: 100;
    margin: 10px 20px;
    display: block;
    text-align: center;
}